<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="scriptFragment">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src='css/main.js'></script>
    <script src='css/bootstrap.js'></script>
    <script src='js/calendar.js'></script>
    <script src='js/aboutID.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
    <script src="js/alert.js"></script>
    <script src="js/ajax.js"></script>

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link href='css/main.css' rel='stylesheet' />
    <link href='css/bootstrap.css' rel='stylesheet' />
</th:block>
</html>