<!DOCTYPE html>
<html lang='ko' xmlns="http://www.w3.org/1999/xhtml"
                xmlns:th="http://www.thymeleaf.org"
                xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
                layout:decorate="~{fragments/layout}">
<head>
    <meta charset='utf-8' />
    <style>
        #calendarBox{
            width: 70%;
            padding-left: 15%;
        }
        #content{
            height: 35em;
        }
    </style>
</head>
<body>
<th:block layout:fragment="content">
<div id="calendarBox">
    <div id='calendar'></div>
</div>
</th:block>
</body>
</html>